<br>
<p>Thor supports client interfaces for Python, MATLAB, and R. You can find details the usage of these three client-side APIs as well as how to properly install them on your system in the associated GitHub pages.</p>
<p>
   For all of these clients, do not forget to obtain your unique API key for the Thor Bayesian optimization infrastructure by visiting the <a href="{{ url_for("api.page", tab="introduction") }}">API homepage</a>.
</p>
<br>
<h4>Python Client</h4>
<p>
  To install the Python client to Thor, please visit <a href="https://github.com/JamesBrofos/Thor-Python-Client">JamesBrofos/Thor-Python-Client</a> on GitHub.
</p>
<br>
<h4>MATLAB Client</h4>
<p>
  To install the MATLAB client to Thor, please visit <a href="https://github.com/JamesBrofos/Thor-MATLAB-Client">JamesBrofos/Thor-MATLAB-Client</a> on GitHub.
</p>
<br>
<h4>R Client</h4>
<p>
  To install the R client to Thor, please visit <a href="https://github.com/JamesBrofos/Thor-R-Client">JamesBrofos/Thor-R-Client</a> on GitHub.
</p>

