{% extends "base.jinja2" %}

{% block main_content %}
  <h2>About Thor</h2>
<p>
  Thor was developed by James Brofos in T834, the data analytics department. At MITRE, James is a statistician and machine learning engineer. Graduating from <a href="http://www.dartmouth.edu">Dartmouth College</a> in 2015 with a B.A. in mathematics and computer science, he is interested in Bayesian nonparametrics, the intersection of deep learning and probability, and graphical models.
</p>
<p>
  This site is Thor Server, the online component of the Thor software library for Bayesian optimization. This site is intended to allow you to easily keep track of your experiments regarding parameter optimization of machine learning algorithms. 
</p>
<p>
  If you encounter problems while using Thor, please do not hesitate to contact James Brofos at <a href="mailto:jbrofos@mitre.org">jbrofos@mitre.org</a>. 
</p>
{% endblock %}
