<p>
  A password reset was requested for the account associated with this email. Please click the link below if you initiated the reset:
</p>
<p><a href="{{ recover_url }}">{{ recover_url }}</a></p>
<p>
  --<br>
  Questions? Comments? Email <a href="mailto:james@brofos.org">james@brofos.org</a>.
</p>
